<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Lista de Productos</title>
</head>
<body>
  <header>
    <h2><a href="/">Mi Tienda</a></h2>
    <div class="nav">
      <ul>
        <li><a href="#">Productos</a></li>
        <li><a href="/realtimeProducts">Agregar Productos</a></li>
        <li><a href="/carrito">Carrito</a></li>
      </ul>
    </div>
  </header>

  <h1>Productos Disponibles</h1>
  {{#if products.length}}
    <div class="product-list">
      {{#each products}}
         <div class="card-product">
          <h3 class="product-name">{{this.name}}</h3>
          <p class="product-description">{{this.description}}</p>
          <p class="product-stock">Stock: {{this.stock}}</p>
          <p class="product-price">Precio: ${{this.price}}</p>
          <button onclick="addToCart(${product.id})" class="btn-addCart">Agregar al Carrito</button>
        </div>
      {{/each}}
    </div>
  {{else}}
    <p class="no-products">No hay productos disponibles.</p>
  {{/if}}

  <div class="btn-back">
      <button class="back"><a href="/">Volver</a></button>
  </div>

  <script type="module" src="../js/cart.js"></script>

</body>
</html>
